@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;

  display: flex;
  flex-direction: column;
}


#dwvw {

  height: 100vh;

  min-height: 100vh;

    background-color: black;


}
#page {
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;

}
#question{
  float:top;
  font-size: 30px;
  margin-bottom: 10px;
}
#answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
#answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
  bottom: 10px;

  clear:both;

  line-height: 0;
  height: 0;
}
button:hover{
    background-color: #38a;
}

button:disabled {
  color: red;
}



#slide{

  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  float:top;

}
#active-slide{
  opacity: 1;
  z-index: 2;
  overflow: auto;
  float:top;


}
#quiz-container{
  position: relative;
 /*
 height: 200px;
 */

  margin-top: 40px;
  background-color: blue;
  overflow: auto;
}
#layerContainer{

  clear: both;
  overflow: auto;




}
.belolw{
  clear:both;

}

#dwv {
  min-height:   100%;
  min-width: 49.5%;
  display: table-caption;
  text-align: left;
  display: inline;
  overflow: hidden;
  float: left;




}
#dwv2 {
  min-height:   100%;
  min-width: 49.5%;

  clear: right ;
  display: table-caption;
  text-align: right;
  display: inline;
  overflow: hidden;
  float: right;

}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;

}
.quiz-container{
  position: relative;
  height: 300px;
  margin-top: 40px;
  overflow: auto;

}

#Down {
  float: left;
}
#Terms {
  float: right;
}
#exammode{
color:Tomato
}
#Training{
  float : right
}
#Source {
  margin-left: auto; margin-right: auto;
}
